.ant-select-selector {
  background: transparent !important;
  border: 0 !important;
}

.vh-100 {
  height: 100vh;
}

.App-card {
  background: var(--white-color);
  padding: 18px 25px;
}

.App-grid {
  display: grid;
  grid-template-areas:
    "header header header"
    "patients diagnosisHistory patientCard"
    "patients diagnosticsList patientCard"
    "patients diagnosticsList labResults"
    "patients diagnosticsList labResults";
  grid-template-columns: 1.5fr 3fr 1.5fr;
  /* grid-template-rows: 0.5fr 3fr 1fr 1fr 1fr; */
  /* grid-auto-rows: min-content; */
  grid-auto-rows: minmax(min-content, auto);
  gap: 20px;
}

.header {
  grid-area: header;
}
.patients {
  grid-area: patients;
}
.diagnosis-history {
  grid-area: diagnosisHistory;
}
.patient-card {
  grid-area: patientCard;
}
.diagnostics-list {
  grid-area: diagnosticsList;
}
.lab-results {
  grid-area: labResults;
}

.header,
.patients,
.diagnosis-history,
.patient-card,
.diagnostics-list,
.lab-results {
  overflow: auto;
  box-sizing: border-box;
}

.diagHx-2 {
  display: grid;
  grid-template-areas: "respRate temp heartRate";
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
.diagHx-2 > div {
  border-radius: 12px;
}
.resp-rate {
  grid-area: respRate;
  background: var(--box1-color);
}
.temp {
  grid-area: temp;
  background: var(--box2-color);
}
.heart-rate {
  grid-area: heartRate;
  background: var(--box3-color);
}

.blood-pressure {
  background: var(--blood-pressure-bg);
  border-radius: 12px;
}

.diagHx-2-value {
  font-size: 22px;
  font-weight: bold;
}

.btn-action {
  background: var(--active-color) !important;
  border-radius: 35px !important;
  padding: 11px 40px;
  border: 0;
}

.selected-patient {
  background: var(--selected-patient-bg);
}

.selected-lab_result {
  background: var(--selected-result-bg);
}
