.vh-100 {
  height: 100vh;
}

.App-card {
  background: var(--white-color);
  padding: 18px 25px;
}

.App-grid {
  display: grid;
  grid-template-areas:
    /* none */
    "header header header"
    "patients diagnosisHistory patientCard"
    "patients diagnosticsList labResults";
  grid-template-columns: 1.5fr 3fr 1.5fr;
  grid-template-rows: 0.5fr 3fr 1fr;
  gap: 35px;
}

.header {
  grid-area: header;
}
.patients {
  grid-area: patients;
}
.diagnosis-history {
  grid-area: diagnosisHistory;
}
.patient-card {
  grid-area: patientCard;
}
.diagnostics-list {
  grid-area: diagnosticsList;
}
.lab-results {
  grid-area: labResults;
}

/* **************************************************** */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
