@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --bg-color: #f6f7f8;
  --white-color: #ffffff;
  --black-color: #072635;
  --active-color: #01f0d0;
  --selected-patient-bg: #d8fcf7;
  --selected-result-bg: #f6f7f8;
  --blood-pressure-bg: #f4f0fe;
  --systolic-color: #e66fd2;
  --diastolic-color: #8c6fe6;
  --box1-color: #e0f3fa;
  --box2-color: #ffe6e9;
  --box3-color: #ffe6f1;
  --dxTableHead-color: #f6f7f8;
}

body,
html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-color);
}

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.bold {
  font-weight: bold;
}

.heading {
  font-size: 24px;
  font-weight: bolder;
}

.heading-2 {
  font-size: 22px;
  font-weight: bold;
}

.sub-heading {
  font-size: 18px;
  font-weight: bold;
}

.sub-heading-2 {
  font-size: 14px;
  font-weight: bold;
}

.border-black {
  border: 1px solid black;
}

.border-rounded {
  border-radius: 35px;
}

.nav-link {
  font-size: 14px;
  font-weight: bold;
  color: var(--black-color);
}

.active-li-link {
  border-radius: 35px;
  background: var(--active-color);
}

.systolic-color {
  background: var(--systolic-color);
  border-radius: 50%;
  width: 14px;
  height: 14px;
}

.diastolic-color {
  background: var(--diastolic-color);
  border-radius: 50%;
  width: 14px;
  height: 14px;
}
